# ── Sécurité ─────────────────────────────────────────────────
SECRET_KEY=4eb2fdce034ae44d6b174a8a4ce96eee5663ee3bdc30239ca8bed65317018049
JWT_SECRET_KEY=4e2a0477cac2d07cc67ebf65385db412175acb9c870618c703bc48a392d193e0

# ── JWT durées ───────────────────────────────────────────────
JWT_ACCESS_TOKEN_EXPIRES_HOURS=24
JWT_REFRESH_TOKEN_EXPIRES_DAYS=30

# ── App ──────────────────────────────────────────────────────
FLASK_ENV=development
FLASK_DEBUG=1
FRONTEND_URL=http://localhost:4200

# ── Flutterwave ──────────────────────────────────────────────
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-votre-cle-secrete
FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-votre-cle-publique

# ── Cloudinary ───────────────────────────────────────────
CLOUDINARY_CLOUD_NAME = dqjjlnyn1,
CLOUDINARY_API_KEY    = 151679498556863,
CLOUDINARY_API_SECRET = lg4eNcvBmUuRvWuI3xthrGZ5vuk
